.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  width: 14em;
  height: 10em;
  justify-content: space-around;
  border-radius: 10px;
}

.favorite {
  height: 3em;
  width: 3em;
  
}

/* .favorite:active {
  height: 2em;
  width: 2em;
  opacity: 90%
} */

