.character-card {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  align-items: center;
  width: 15em
}

.favorite {
  height: 3em;
  width: 3em;
  
}

/* .favorite:active {
  height: 2em;
  width: 2em;
  opacity: 90%
} */