.back-to-main-link {
  position: absolute;
  top: 23%; 
  left: 2%; 
  transform: translate(-50%, -50%);
	text-decoration:none;
	color: aliceblue
}

.back-image {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem
}

.back {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.specific-character-favorite {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 22%; 
  right: 1%; 
  transform: translate(-50%, -50%);
	text-decoration:none;
	color: #000000
}

.specific-character-favorite-image {
  height: 4rem;
  width: 4rem
}

.selected-character-details-name {
  position: absolute;
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2.5em;
  color: #f0f8ff;
  background-color: #1e1c1c;
  opacity: 90%;
  text-align: center;
  font-weight: bolder;
  padding: .5em;
  box-shadow: inset -1px 1px 20px 4px rgba(226, 245, 51, 0.887);
  border-radius: 10px;
}

.selected-character-details-container {
  position: relative;
  margin-top: 25rem;
}

.selected-character-details {
  display: flex;
  justify-content: center;
  margin: 0 10rem;
  border: 3px solid aliceblue;
  color: aliceblue;
  padding: 1em;
  background-color: #1e1c1c;
  opacity: 95%;
  gap: 3rem;  
}

@media screen and (max-width: 1025px) {
  .selected-character-details{
   display: flex;
   flex-direction: column;
   gap: 2rem;  
   align-items: center;
   margin: 0 10rem
  }
  .selected-character-details-container {
    position: relative;
    margin-top: 20rem;
 
  }
}
@media screen and (max-width: 850px) {
  .selected-character-details{
   display: flex;
   flex-direction: column;
   gap: 2rem;  
   align-items: center;
   margin: 0 10rem
  }
  .selected-character-details-container {
    position: relative;
    margin-top: 15rem;
  }

}

@media screen and (max-height: 730px) {
  .specific-character-favorite {
    top: 23%; 
  }
  .back-to-main-link {
    top: 24%; 
  }
}
@media screen and (max-height: 695px) {
  .specific-character-favorite {
    top: 25%; 
  }
  .back-to-main-link {
    top: 26%; 
  }
}

@media screen and (max-height: 650px) {
  .specific-character-favorite {
    top: 27%; 
  }
  .back-to-main-link {
    top: 28%; 
  }
  .selected-character-details-name {
    top: 24%
  }
  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 9rem;
    padding: 1em;
  }

}
@media screen and (max-height: 470px) {
  .specific-character-favorite {
    top: 30%; 
  }
  .back-to-main-link {
    top: 31%; 
  }
  .selected-character-details-name {
    top: 25%
  }
  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 9rem;
    padding: 1em;
  }
}

@media screen and (max-width: 580px) {
  .selected-character-details-container {
    position: relative;
    margin-top: 9rem;
  }

  .selected-character-details-name {
    font-size: 2.1em;
  }

  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 9rem;
    padding: 1em;
  }
}


@media screen and (max-width: 565px) {
  .selected-character-details-container {
    position: relative;
    margin-top: 9rem;
  }

  .selected-character-details-name {
    font-size: 2.1em;
  }

  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8rem;
    padding: 1em;
  }
}

@media screen and (max-width: 520px) {
  .selected-character-details-name {
    font-size: 2em;
  }
  .specific-character-favorite {
    right: -7%
  }
  .specific-character-favorite-image {
    height: 3.5rem;
    width: 3.5rem
  }
  .back-to-main-link {
    left: 1%; 

  }
  .back-image {
    height: 4rem;
    width: 4rem;
    margin-left: 3.5rem
  }
  .selected-character-details-container {
    position: relative;
    margin-top: 8rem;
  }

  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6rem;
    padding: 1em;

  }
}

@media screen and (max-width: 415px) {
  .specific-character-favorite {
    right: -7%;
    top: 20%
  }
  .back-to-main-link {
    left: 1%; 
    top: 20%
  }
  .selected-character-details-container {
    position: relative;
    margin-top: 11rem;
  }
  .selected-character-details-name {
    font-size: 1.8em;
    top: 17%
  }
}

@media screen and (max-width: 376px) {
  .specific-character-favorite {
    right: -7%;
    top: 21%
  }
  .specific-character-favorite-image {
    height: 3.3rem;
    width: 3.3rem
  }
  .back-to-main-link {
    left: 1%; 
    top: 21.5%
  }
  .back-image {
    height: 3.5rem;
    width: 3.5rem;
    margin-left: 3.5rem
  }
  .selected-character-details-container {
    position: relative;
    margin-top: 7rem;
  }

  .selected-character-details-name {
    font-size: 1.5em;
    top: 18%
  }

  .selected-character-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4rem;
    padding: 1em;

  }
}