.background-image {
  background-image: var(--backdrop-img);
  padding-top: 45rem;
  background-size: cover;
  background-position: center; 
}

.back-to-main-link {
  position: absolute;
  top: 23%; 
  left: 2%; 
  transform: translate(-50%, -50%);
	text-decoration:none;
	color: #000000
  
}

.back-image {
  height: 4rem;
  width: 4rem;
  margin-left: 5rem
}

.back {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.selected-character-details-name {
  position: absolute;
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  
  font-size: 2.5em;
  color: #f0f8ff;
  background-color: #1e1c1c;
  opacity: 90%;
  text-align: center;
  font-weight: bolder;
  padding: .5em;
  box-shadow: inset -1px 1px 20px 4px rgba(226, 245, 51, 0.887);
  border-radius: 10px;
}

.selected-character-details-container {
  position: relative;
  margin-top: -20rem;
}

.selected-character-details {
  display: flex;
  justify-content: center;
  margin: 0 8rem;
  border: 3px solid aliceblue;
  color: aliceblue;
  padding: 1em;
  background-color: #1e1c1c;
  opacity: 95%;
  gap: 3rem;  
}