.character-display{
  background-image: var(--backdrop-img);
  background-size: cover;
  background-position: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto
}

.back-and-fav-button {
  display: flex;
  align-items: center;
  width: 95vw;
  justify-content: space-between;
  padding: 6.8rem 0 1rem;
  margin: .5em;
}

.back-to-main-link{ 
  text-decoration: none;
  color: aliceblue;
}

.back-container {
  background-color: #333333;
  border-radius: 20px;
  border: black;
  padding: .4em
}

.back-image {
  height: 4rem;
  width: 4rem;
}

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specific-character-favorite-button {
  cursor: pointer;
}

.specific-character-favorite-image {
  height: 4rem;
  width: 4rem
}

.selected-character-details-name {
  font-size: 2.5em;
  color: #f0f8ff;
  text-align: center;
  font-weight: bolder;
  padding: .4em;
}

.selected-character-details-container {
  display: flex;
  align-items: center;
}

.characters {
  width: 45rem;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px black;
}

.selected-character-image-and-name {
  background-color: #1e1c1c;
  opacity: 95%;
  border: 3px solid aliceblue;
  border-radius: 10px;
  width: 48rem;
  height: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-character-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
  border: 3px solid aliceblue;
  color: aliceblue;
  padding: .5em 1.5em;
  background-color: #1e1c1c;
  opacity: 95%;
  gap: 1.5rem;  
  border-radius: 10px;
  font-size: 1.5em;
}

 @media screen and (max-width: 1175px) {
  .selected-character-details {
    display: flex;
    flex-direction: row;
  }
  .selected-character-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
 @media screen and (max-width: 915px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 45rem;
    height: 39rem;
  }
  .characters {
    width: 40rem;
  }
  .selected-character-details {
    padding: 1.5em;
    font-size: 1.4em; 
  }
}

 @media screen and (max-width: 755px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 41rem;
    height: 33rem;
  }
  .selected-character-details-name {
    font-size: 2.3em;
    padding: .35em;
  }
  .characters {
    width: 38rem;
  }
  .selected-character-details {
    padding: 1.4em;
    font-size: 1.3em; 
  }
}

 @media screen and (max-width: 685px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 35rem;
    height: 27rem;
  }
  .selected-character-details-name {
    font-size: 2.2em;
    padding: .3em;
  }
  .characters {
    width: 29rem;
  }
  .selected-character-details {
    padding: 1.2em;
    font-size: 1.15em; 
  }
  .specific-character-favorite-image {
    height: 3rem;
    width: 3rem
  }
  .back-image {
    height: 3rem;
    width: 3rem;
  }
  .back-to-main-link {
    font-size: .85em;
  }
}

 @media screen and (max-width: 635px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 30rem;
    height: 22rem;
  }
  .selected-character-details-name {
    font-size: 2em;
    padding: .2em;
  }
  .characters {
    width: 24rem;
  }
  .selected-character-details {
    padding: .8em;
    font-size: 1em;
    gap: 2rem;   
  }
}

 @media screen and (max-width: 500px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 21rem;
    height: 17rem;
  }
  .selected-character-details-name {
    font-size: 1.7em;
    padding: .17em;
  }
  .characters {
    width: 18rem;
  }
  .selected-character-details {
    padding: .45em;
    font-size: .9em;
    gap: 1rem;   
  }
}

 @media screen and (max-width: 385px) {
  .selected-character-image-and-name {
    background-color: #1e1c1c;
    width: 17rem;
    height: 14rem;
    border: 2px solid aliceblue;
  }
  .selected-character-details-name {
    font-size: 1.5em;
    padding: .15em;
  }
  .characters {
    width: 15rem;
  }
  .selected-character-details {
    display: flex;
    flex-direction: column;
    padding: .45em 3em;
    font-size: .9em;
    gap: 0rem;  
    border: 2px solid aliceblue; 
  }
}
