.navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: black;
 } 

.view-fav, .view-all {
  background: linear-gradient(to bottom, #4c5a6a 5%, #e3f533 100%);
  border-radius: 10px;
  border: 2px solid #000000;
  cursor: pointer;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0.5rem;
  text-decoration: none;
  
}